/*bg color */
.bg-purple{background-color:  #9792E4;}
.bg-white{background-color: white;}
.bg-black{background-color: black;}
.bg-blue{background-color: #0084FD;}
.bg-azzure{background-color: #B5DDFF;}
/* txt-color */
.white{color: white;}
/* border */
.b-radius-20{border-radius:20px ; }
.b-radius-50{border-radius: 50%;}
/* padding */
.pd{padding: 20px;}
/* margin */
.mg{margin: 20px;}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.flex{display: flex;}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
 .big{
     height: 300px;
 }
 .med{height:150px ;}
/* header */
.navbar .container{
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.menu ul{
    list-style-type: none;
    display: none;
}
.menu li{
    padding-left: 10px;
}
    /* main-top */
    .top{
        padding-top: 2.5rem;
        padding-bottom: 4rem;
    }
    .row .col{
        width: 85%;
        margin: 20px auto;
        text-align: center;
    }

    .row .p{
        text-align: left;
    }

/* media */
@media screen and (min-width: 768px) { 
    .navbar{
        width: 100%;
    }

    .big .col{
        width: 40%;
    }
    .med .col{
        width:20%;
    }


}
@media screen and (min-width: 992px) { 
    .navbar{
        width: 100%;
    }
    .menu i{display: none;}
}