/*bg color */
.bg-purple{background-color:  #9792E4;}
.bg-white{background-color: white;}
.bg-black{background-color: black;}
.bg-blue{background-color: #0084FD;}
.bg-azzure{background-color: #B5DDFF;}
/* txt-color */
.white{color: white;}
/* border */
.b-radius-20{border-radius:20px ; }
/* padding */
.pd{padding: 20px;}
/* margin */
.mg{margin: 20px;}
.ml-20{margin-left: 20px;}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
.d-flex{display: flex;}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
 .big{
     height: 300px;
 }
 .med{height:150px ;}
/* header */
.navbar .container{
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.menu ul{
    list-style-type: none;
    display: none;
}
.menu li{
    padding-left: 10px;
}
    /* main-top */
.column{
    width: 85%;
    margin: 20px auto; 
}
.column .row{
    justify-content: space-between;
    flex-wrap: wrap;
}
.col{
    margin: 10px auto;
    padding: 20px;
}
.pic{
    margin: 20px auto;
    height: 200px;
    width: 80%;
    background-color: brown;
    padding: 20px;
}
/* primo container viola */
main .bg-purple{
    padding: 20px 0;
}
.bg-white{
    height: 300px;
}
.bg-purple .row{
    flex-direction: column;
}
/* foto profilo */

.bg-white .row{
    margin: 0 auto;
}
.photo{
    background-color: aqua;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px auto;
}
.bg-purple p{
    text-align: center;
}
/* media */
@media screen and (min-width: 768px) { 
    .navbar{
        width: 100%;
    }

    .big{
        width: 60%;
    }
    .med{
        width:30%;
        height: 300px;
    }
    .badge{
        width: 100%;
        display: flex;
        margin-top: 20px;
    }
    .photo{
        margin: 20px;
    }
    
        
}
@media screen and (min-width: 992px) { 
    .navbar{
        width: 100%;
    }
    .menu i{display: none;}
    .bg-purple .row{
        flex-direction: row;
    }
    .col-1{
        flex-basis: 50%;
    }
    .col-2{
        flex-basis: 50%;
    }
}